- id: elasticsearch_kibana
  type: group
  role: [elasticsearch_kibana]
  tasks:
    - fuel_pkgs
    - hiera
    - globals
    - tools
    - logging
    - netconfig
    - hosts
    - firewall
    - deploy_start
    - cluster
    - cluster-haproxy
    - openstack-haproxy-stats
  required_for: [deploy_end]
  requires: [deploy_start]
  parameters:
    strategy:
      type: one_by_one

- id: es-virtual-ip
  type: puppet
  groups: [elasticsearch_kibana]
  required_for: [deploy_end]
  requires: [cluster]
  parameters:
    puppet_manifest: "puppet/modules/osnailyfacter/modular/virtual_ips/virtual_ips.pp"
    puppet_modules: "puppet/modules"
    timeout: 3600

- id: es-hiera-override
  type: puppet
  groups: [elasticsearch_kibana]
  requires: [globals]
  required_for: [logging]
  parameters:
    puppet_manifest: "puppet/manifests/hiera_override.pp"
    puppet_modules: "puppet/modules"
    timeout: 120

- id: es_kibana_haproxy
  type: puppet
  groups: [elasticsearch_kibana]
  requires: [cluster-haproxy]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/haproxy.pp"
    puppet_modules: "puppet/modules"
    timeout: 120
