# Groups definitions
- id: primary-elasticsearch_kibana
  type: group
  version: 2.0.0
  role: [primary-elasticsearch_kibana]
  tasks: &common_tasks
    - hiera
    - setup_repositories
    - fuel_pkgs
    - globals
    - tools
    - logging
    - netconfig
    - hosts
  requires: [deploy_start]
  required_for: [deploy_end]
  parameters:
    strategy:
      type: one_by_one

- id: elasticsearch_kibana
  type: group
  version: 2.0.0
  role: [elasticsearch_kibana]
  tasks: *common_tasks
  requires: [deploy_start, primary-elasticsearch_kibana]
  required_for: [deploy_end]
  parameters:
    strategy:
      type: parallel

# Tasks definitions for deployment
#
# This task needs to be reexecuted to recheck the configuration
- id: elasticsearch-check-configuration
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana]
  requires: [netconfig]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/check_environment_configuration.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120
  reexecute_on:
    - deploy_changes

# This task needs to be reexecuted to adapt configuration variables depending
# on the number of nodes in the cluster
- id: elasticsearch-hiera
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [globals]
  required_for: [logging]
  parameters:
    puppet_manifest: "puppet/manifests/hiera_override.pp"
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120
  reexecute_on:
    - deploy_changes

- id: elasticsearch-firewall
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [netconfig]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/firewall.pp"
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600

- id: elasticsearch-cluster
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [elasticsearch-firewall]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/cluster.pp"
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600
  reexecute_on:
    - deploy_changes

- id: elasticsearch-cluster-haproxy
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [elasticsearch-cluster]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/cluster-haproxy.pp"
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 3600
  reexecute_on:
    - deploy_changes

- id: elasticsearch-virtual-ip
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [elasticsearch-cluster]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "/etc/puppet/modules/osnailyfacter/modular/virtual_ips/virtual_ips.pp"
    puppet_modules: /etc/puppet/modules
    timeout: 3600

# This task needs to be reexecuted to reconfigure HAProxy backends
- id: elasticsearch-haproxy
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [elasticsearch-cluster-haproxy, elasticsearch-virtual-ip]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/haproxy.pp"
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120
  reexecute_on:
    - deploy_changes

# This task needs to be reexecuted to reconfigure Elasticsearch instances
- id: elasticsearch-installation
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [elasticsearch-haproxy]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/elasticsearch.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600
  reexecute_on:
    - deploy_changes

- id: kibana-installation
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana, elasticsearch_kibana]
  requires: [elasticsearch-haproxy]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/kibana.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600

# Tasks definitions for post-deployment
#
# This task needs to be reexecuted to reconfigure index templates with an
# appropriate number_of_replicas. This is done at post_deployment time to
# ensure that the cluster is ready (the number of expected master nodes is reached)
- id: elasticsearch-kibana-configuration
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana]
  requires: [post_deployment_start]
  required_for: [post_deployment_end]
  parameters:
    puppet_manifest: puppet/manifests/provision_services.pp
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 600
  reexecute_on:
    - deploy_changes

# This task needs to be reexecuted to reconfigure the no-quorum-policy every
# time the cluster is scaled up or down. In case of scale up, it should happen
# after the new nodes have added themselves to the Pacemaker cluster.
- id: elasticsearch-enable-quorum
  type: puppet
  version: 2.0.0
  role: [primary-elasticsearch_kibana]
  requires: [elasticsearch-kibana-configuration]
  required_for: [post_deployment_end]
  parameters:
    puppet_manifest: "puppet/manifests/enable_quorum.pp"
    puppet_modules: puppet/modules:/etc/puppet/modules
    timeout: 120
  reexecute_on:
    - deploy_changes
