attributes:

  node_name:
    value: 'elasticsearch'
    label: 'Node name'
    description: 'The name of the node where the plugin will be deployed'
    weight: 10
    type: "text"

#  dedicated_disks:
#    value: ''
#    label: 'Dedicated disks'
#    description: 'Comma-separated list of disk devices used to store Elasticsearch data (for instance "sda,sdb"). Keep it empty means using "/"'
#    weight: 20
#    type: "text"

  disk1:
    value: ''
    label: 'Disk 1'
    description: 'Disk device used to store Elasticsearch data (for instance sda). Leave it empty to use "/"'
    weight: 20
    type: "text"

  disk1_size:
    value: ''
    label: 'Size'
    description: 'in GB. Leave it empty to use all free space.'
    weight: 30
    type: "text"

  disk2:
    value: ''
    label: 'Disk 2'
    description: 'Disk device used to store Elasticsearch data (for instance sdb).'
    weight: 40
    type: "text"
    restrictions:
        - condition: "settings:elasticsearch_kibana.disk1.value == ''"
          action: "disable"

  disk2_size:
    value: ''
    label: 'Size'
    description: 'in GB. Leave it empty to use all free space.'
    weight: 50
    type: "text"
    restrictions:
        - condition: "settings:elasticsearch_kibana.disk1.value == ''"
          action: "disable"

  disk3:
    value: ''
    label: 'Disk 3'
    description: 'Disk device used to store Elasticsearch data (for instance sdc).'
    weight: 60
    type: "text"
    restrictions:
        - condition: "settings:elasticsearch_kibana.disk2.value == ''"
          action: "disable"

  disk3_size:
    value: ''
    label: 'Size'
    description: 'in GB. Leave it empty to use all free space.'
    weight: 70
    type: "text"
    restrictions:
        - condition: "settings:elasticsearch_kibana.disk2.value == ''"
          action: "disable"

  # Parameter hidden in the UI on purpose
  data_dir:
    value: '/es-data'
    label: 'Elasticsearch directory'
    description: 'Directory used by elasticsearch to store data'
    weight: 80
    type: "text"
    restrictions:
      - condition: true
        action: hide
